.idea/

# Ignore Gradle/tooling artifacts
.gradle/
**/build/
.kotlin/
gradle/
gradlew
gradlew.bat
*.iml
**/*.iml
build.gradle
settings.gradle

# Keep module directories and their contents, but exclude build folders
!module*/
!settings.gradle
!module*/build.gradle
